<form action="/sthi" (onSubmit)="onSubmit">
    <h2 mat-dialog-title>Add Stock</h2>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Stock Code</mat-label>
            <input  type="text" name="code" matInput placeholder="Stock Code (e.g. TEL)" [(ngModel)]="data">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="data" cdkFocusInitial>Add</button>
    </div>
</form>